# Helpers
foundry
dnd5e
foundry-config.yaml

# Build Artifacts
*.map
prime-psionics-compiled*
prime-psionics.lock

# IDE
.idea/
.nova/
.vs/
*.code-workspace
*.iml

# Node Modules
node_modules/

# OS Specific
.DS_Store
*.ini
