<li class="items-header spellbook-header flexrow">
    <div class="item-name flexrow">
        <h3>{{localize "PrimePsionics.PP"}}</h3>
        <div class="spell-slots">
            <input type="text" name="flags.prime-psionics.pp" value="{{pp}}"
                placeholder="0" data-dtype="Number">
            <span class="sep"> / </span>
            <span>{{ppMax}}</span>
        </div>
    </div>
</li>