<div class='items-section card'>
  <div class='items-header header'>
    <h3>{{localize 'PrimePsionics.PP'}}</h3>
    <div class='power-points'>
      <input
        class='pp-input'
        type='text'
        name='flags.prime-psionics.pp.value'
        value='{{pp}}'
        placeholder='0'
        data-dtype='Number'
      />
      <span class='sep'> / </span>
      <span>{{ppMax}}</span>
    </div>
  </div>
</div>